body { background: #989908; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 57px; display: flex; }
.block-product-0 { color: #3064f; font-size: 16px; margin-bottom: 5px; }
.block-sms-1 { color: #c80f1d; font-size: 12px; margin-bottom: 5px; }
.block-email-2 { color: #dfbc6f; font-size: 15px; margin-bottom: 5px; }
.block-cluster-3 { color: #fa9885; font-size: 16px; margin-bottom: 5px; }
.block-notify-4 { color: #daa7a7; font-size: 19px; margin-bottom: 5px; }